@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    SelectList depts;
    if (Model != null)
    {
       depts = new SelectList(ViewBag.Depts, "Id", "Name", Model.Dept_Id);
    }
    else
    {
        depts = new SelectList(ViewBag.Depts, "Id", "Name");
    }
}

@model Instructor

@{
    //List<inst> => IEnumerable<selectedList>item   value - name - selected
    SelectList deptlist = new SelectList(ViewBag.Depts ,"Id" ,"Name",Model.Department);
}
<form action="\Ins\SaveEdit\@Model.Id" method="post">
    <div>
        <label for="Id">Id</label>
        <input type="text" name="Id" id="Id" value="@Model.Id" class="form-control" />
    </div>

    <div>
        <label for="Name">Name</label>
        <input type="text" name="Name" id="Name" value="@Model.Name" class="form-control" />
    </div>

    <div>
        <label for="Image">Image</label>
        <input type="text" name="Image" id="Image" value="@Model.Image" class="form-control" />
    </div>

    <div>
        <label for="Salary">Salary</label>
        <input type="text" name="Salary" id="Salary" value="@Model.Salary" class="form-control" />
    </div>

    <div>
        <label for="Address">Address</label>
        <input type="text" name="Address" id="Address" value="@Model.Address" class="form-control" />
    </div>

    <div>
        <label for="Dept_Id">Department</label>
        @* <input type="text" name="Dept_Id" id="Dept_Id" value="@Model.Dept_Id" class="form-control" /> *@
@*         <select name="Dept_Id" id="Dept_Id" class="form-control">
            @foreach (var item in ViewBag.Depts)
            {
                <option value="@item.Id">
                    @item.Name
                </option>
            }
        </select> *@

        @Html.DropDownListFor(x => x.Dept_Id, deptlist, "--select Depts--", new { @class = "form-control" })

        @* <select name="Dept_Id" id="Dept_Id" class="form-control">
            @foreach (var item in ViewBag.Depts)
            {
                if(item.Id == Model.Dept_Id)
                {
                    <option value="@item.Id" selected>
                         @item.Name
                    </option>
                }
                else
                {
                    <option value="@item.Id">
                         @item.Name
                    </option>
                }
            }
        </select>
            *@

        <select asp-for="Dept_Id" asp-items="depts">
        </select>
             
    </div>
    <br />
    <input type="submit" class="btn btn-success" value="Save" />

</form>